<!doctype html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<th:block th:replace="fragment/navigation :: naviFragemnt"></th:block>

<div class="container">
  <form th:action="@{/join}" method="post">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">아이디</label>
      <input type="text" class="form-control" name="username" id="exampleFormControlInput1" placeholder="ID">
      <span style="color:red" th:text="${username}"></span>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label">비밀번호</label>
      <input type="password" class="form-control" name="password" id="exampleFormControlInput2" placeholder="Password">
      <span style="color:red" th:text="${password}"></span>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput3" class="form-label">이름</label>
      <input type="text" class="form-control" name="name" id="exampleFormControlInput3" placeholder="Name">
      <span style="color:red" th:text="${name}"></span>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput4" class="form-label">이메일</label>
      <input type="email" class="form-control" name="email" id="exampleFormControlInput4" placeholder="E-mail">
      <span style="color:red" th:text="${email}"></span>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput5" class="form-label">전화번호</label>
      <input type="phone" class="form-control" name="phone" id="exampleFormControlInput5" placeholder="Phone">
      <span style="color:red" th:text="${phone}"></span>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary mb-3">회원가입</button>
    </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>